In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
# Loading the CSV file as dataframe
data_df = pd.read_csv("./gapminder_final.csv")

Exploraci√≥n inicial de los datos

In [3]:
data_df.shape

(178, 16)

In [4]:
data_df.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Ireland,27595.091350,14.92,0.450024,74.9,1.633779e+09,51.000000,0.2,69.770394,80.557,1.700262,10.0,2051.802338,10.365070,59.900002,61.34
1,Albania,1914.996551,7.29,1.024736,57.4,2.237473e+08,42.099998,NaN,44.989947,76.918,NaN,9.0,636.341383,7.699330,51.400002,46.72
2,Central African Rep.,239.518749,3.17,0.148659,16.5,8.338000e+06,62.900002,4.7,2.300027,48.398,NaN,-1.0,NaN,13.548420,71.300003,38.58
3,Barbados,9243.587053,6.42,0.663956,62.5,3.616067e+07,60.299999,1.4,70.028599,76.835,NaN,NaN,NaN,3.108603,66.900002,39.84
4,Italy,18982.269290,9.72,1.729346,74.4,1.900045e+10,35.799999,0.3,53.740217,81.855,1.207250,10.0,1176.385457,4.930045,46.400002,68.08

In [5]:
data_df.dtypes

country                  object
incomeperperson         float64
alcconsumption          float64
armedforcesrate         float64
breastcancerper100th    float64
co2emissions            float64
femaleemployrate        float64
hivrate                 float64
internetuserate         float64
lifeexpectancy          float64
oilperperson            float64
polityscore             float64
relectricperperson      float64
suicideper100th         float64
employrate              float64
urbanrate               float64
dtype: object

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country               178 non-null    object
 1   incomeperperson       175 non-null    float64
 2   alcconsumption        178 non-null    float64
 3   armedforcesrate       174 non-null    float64
 4   breastcancerper100th  177 non-null    float64
 5   co2emissions          176 non-null    float64
 6   femaleemployrate      177 non-null    float64
 7   hivrate               155 non-null    float64
 8   internetuserate       174 non-null    float64
 9   lifeexpectancy        178 non-null    float64
 10  oilperperson          67 non-null     float64
 11  polityscore           167 non-null    float64
 12  relectricperperson    141 non-null    float64
 13  suicideper100th       178 non-null    float64
 14  employrate            177 non-null    float64
 15  urbanrate             178 non-null    float64
dtypes: float64(15), object(1)
memory usage: 22.4+ KB

In [7]:
data_df.describe()

,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
count,175.000000,178.000000,174.000000,177.000000,1.760000e+02,177.000000,155.000000,174.000000,178.000000,67.000000,167.000000,141.000000,178.000000,177.000000,178.000000
mean,7553.392250,6.753539,1.376696,37.615254,5.757754e+09,47.607909,1.854516,34.740125,69.414949,1.432081,3.502994,1181.715476,9.984100,58.854237,56.282135
std,11074.571742,5.139950,1.499729,23.225333,2.734690e+10,14.741347,4.276108,28.088371,9.808335,1.771041,6.423671,1655.388823,6.521086,10.334804,22.561796
min,103.775857,0.030000,0.000000,3.900000,8.506667e+05,12.400000,0.060000,0.210066,47.794000,0.032281,-10.000000,0.000000,0.201449,34.900002,10.400000
25%,609.744287,2.445000,0.491714,20.400000,8.755725e+07,38.799999,0.100000,9.924668,62.725000,0.580038,-2.500000,239.389457,5.785134,51.400002,36.965000
50%,2425.471293,5.920000,0.931293,30.000000,3.054792e+08,48.400002,0.400000,29.939930,72.974000,0.890813,6.000000,614.907287,9.050307,58.799999,59.600000
75%,8880.432039,9.990000,1.601996,50.300000,2.391801e+09,56.000000,1.200000,55.973228,76.127500,1.586422,9.000000,1566.106139,12.409866,65.000000,73.460000
max,52301.587180,23.010000,9.820127,101.100000,3.340000e+11,83.300003,25.900000,95.638113,83.394000,12.228645,10.000000,11154.755030,35.752872,83.199997,100.000000